/* For general styles see stylesheets/style.css */

.clear {
  clear: both;
}

.linkbox {
  margin: 10%;
}

.linktext {
  color: white; /* Make sure this corresponds to default article color: if it doesn't it will default to anchor defaults*/
  text-decoration: none;
}

.linktext:hover {
  color: red;
}

.quotebox {
  margin-top: 50%;
  margin-bottom: 50%;
}

.quotation {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.attribution {
  text-align: center;
  font-style: italic;
  padding: 20px;
}

.survey {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 20px;
  padding-top: 30px;
}

.survey p {
  font-size: 14px;
  text-align: center;
  color: grey;
}

.survey_title {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.survey_question, .survey_button {
  margin: 20px;
}

.survey_button {
  text-align: right;
}

label {
  float: left;
  width: 100%;
  font-weight: bold;
  padding-right: 10px;
}

.button_box {
  float: right;
  padding-left: 5px;
}

script {
  color: white;
}

.google_survey {
  width: 760px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  overflow: hidden;
}