.container {
	width: 1000px;
	height: 1200px;
  	margin: 200 auto 200 auto;
}

.information {
	padding: 20px;
	float: left;
	margin: 0px auto;
}

.sidebar {
	width:300px;
	height:900px;
	float:right;
}

.sidebar img {
	width:300px;
	height:300px;

}

.quote {

	background-color: blue;
}

.map {
	float: left;

}

.gmap {
	width:400px;
	height:400px;
}

.input {
	float:left;
}